/* Error: Undefined mixin.
 *    ,
 * 55 | /   @include tablet-up {
 * 56 | |     max-width: var(--max-width-container);
 * 57 | |     margin: 0 auto;
 * 58 | \   }
 *    '
 *   src\scss\components\portal.scss 55:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 55 \2502  \250c    @include tablet-up {\a 56 \2502  \2502      max-width: var(--max-width-container);\a 57 \2502  \2502      margin: 0 auto;\a 58 \2502  \2514    }\a    \2575 \a   src\\scss\\components\\portal.scss 55:3  root stylesheet";
}
